<html>
    <head>
        <title>Lista de Perritos</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="{{ url_for('static', path='/styles.css') }}"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <img
            src="{{ url_for('static', path='/img/img.webp') }}"
            alt="imagen de computador"
            class="img-fluid"
            style="max-width: 200px"
        />
        <div class="container my-3 d-flex justify-content-end">
            <a
                class="btn btn-primary"
                href="{{ request.url_for('agregarPerro') }}"
            >
                Agregar perro
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">EDAD</th>
                </tr>
            </thead>
            <tbody>
                {% for perro in perros %}
                <tr>
                    <th scope="row">{{ perro.ID }}</th>
                    <td>{{ perro.NOMBRE }}</td>
                    <td>{{ perro.RAZA }}</td>
                    <td>{{ perro.EDAD }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
